<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/stlyle.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#band">BAND</a></li>
                <li><a href="#tour">TOUR</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#more">MORE</a></li>
            </ul>
        </nav>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </header>
    <main>
        <section id="home">
            <img src="https://www.w3schools.com/w3images/ny.jpg" alt="newyork" />
            <div class="hometext">
                <h2>New York</h2>
                <p>The atmosphere in New York is lorem ipsum.</p>
            </div>
        </section>
        <section id="band">
            <div class="band_text">
                <h2>THE BAND</h2>
                <h3>We love music</h3>
                <p>
                    We have created a fictional band website. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.
                </p>
            </div>
            <div class="band_images">
                <ul>
                    <li>
                        <p>Name</p>
                        <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="photo" />
                    </li>
                    <li>
                        <p>Name</p>
                        <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="photo" />
                    </li>
                    <li>
                        <p>Name</p>
                        <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="photo" />
                    </li>
                </ul>
            </div>
        </section>
        <section id="tour">
            <div class="tour_text">
                <h2>TOUR DATES</h2>
                <h3>Remember to book your tickets!</h3>
                <div class="tour_months">
                    <ul>
                        <li>September <span>Sold out</span></li>
                        <li>October <span>Sold out</span></li>
                        <li class="november">November <span>3</span></li>
                    </ul>
                </div>
                <div class="cities">
                    <div class="cities-item" style="margin-right:16px">
                        <img src="https://www.w3schools.com/w3images/newyork.jpg" alt="newyork" />
                        <div class="text">
                            <h3>New York</h3>
                            <h4>Fri 27 Nov 2016</h4>
                            <p>
                                Praesent tincidunt sed tellus ut rutrum sed vitae justo.
                            </p>
                        </div>
                        <button class="buytickets">Buy Tickets</button>
                    </div>
                    <div class="cities-item" style="margin-right:16px">
                        <img src="https://www.w3schools.com/w3images/paris.jpg" alt="paris" />
                        <div class="text">
                            <h3>Paris</h3>
                            <h4>Sat 28 Nov 2016</h4>
                            <p>
                                Praesent tincidunt sed tellus ut rutrum sed vitae justo.
                            </p>
                        </div>
                        <button class="buytickets">Buy Tickets</button>
                    </div>
                    <div class="cities-item">
                        <img src="https://www.w3schools.com/w3images/sanfran.jpg" alt="sanfrancisco" />
                        <div class="text">
                            <h3>San Francisco</h3>
                            <h4>Sun 29 Nov 2016</h4>
                            <p>
                                Praesent tincidunt sed tellus ut rutrum sed vitae justo.
                            </p>
                        </div>
                        <button class="buytickets">Buy Tickets</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <h2>CONTACT</h2>
            <h3>Fan? Drop a note!</h3>
            <div class="contact_info">
                <div class="contact_info_text">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Chicago, US</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <p>Phone: +00 151515</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                        <p>Email: mail@mail.com</p>
                    </div>
                </div>
                <form>
                    <div>
                        <input class="name" type="text" placeholder="Name" required>
                        <input class="email" type="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input class="message" type="text" placeholder="Message">
                    </div>
                    <button type="submit" class="sendbutton">SEND</button>
                </form>
             </div>
        </section>
        <section id="map">
            <img src="https://www.w3schools.com/w3images/map.jpg" alt="map">
        </section>
    </main>
    <footer>
        <div class="icons">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-snapchat-square"></i>
            <i class="fa-brands fa-pinterest-p"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </footer>
</body>
</html>